<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Esto es una prueba con un proyecto express dentro del servidor de heroku by dbecerra@jhl.mx</h1>
  </body>
</html>
